* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 1s;
}

html {
  font-size: 1.25rem;
}

body {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 55rem;
  padding: 1.5rem;
}

.container {
  padding: 2rem;
}

.title {
  padding: 2rem;
  text-align: center;
}

.tab-title {
  font-weight: 700;
  color: #fff;
}

label {
  background: #4800ff;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 0.5rem; 
}

img {
  border-radius: 0.5rem;
  width: 85%;
  margin: 0 auto;
  display: block;
}

.icon {
  position: relative;
}

input:checked~label .icon img {
  transform: rotate(45deg);
}

.content {
  max-height: 0px;
  overflow: hidden;
}

input:checked~.content {
  max-height: 100vh;
}

input[type="radio"] {
  display: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 825px) {
  html {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 0.5rem;
  }
}

@media (hover: hover) {
  label:hover~.content {
    max-height: 100vh;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
    
  }

  img:active {
    filter: drop-shadow(.6em .6em .6em #4800ff);
  }

  label:hover {
    background: #6400e6;
  }

  label:hover .icon img{
    transform: rotate(45deg);
  }

  .bayan:hover .icon {
    visibility: visible;
  }
}